.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    /* Optional */
}

.spinner {
    width: 40px;
    height: 40px;
    border: 0px solid var(--color-2-op);
    border-top: 4px solid var(--color-2);
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}